.is-active.number{
    background-color: #C83C23 !important;
    color: #F7F7F7 !important;
}
/* .number{
    background-color: #F35339 !important;
} */
.redBtn {
    margin-left: 20px;
    background-color: #C83C23;
    border-color: #C83C23;
    color: white;
}

.whiteBtn {
    margin-left: 20px;
    background-color: #F7F7F7;
    border-color: #F7F7F7;
    color: #C83C23;
}

.example-showcase .el-dropdown-link {
    cursor: pointer;
    color: var(--el-color-primary);
    display: flex;
    align-items: center;
}

.btn-prev,.btn-next{
    background-color: #F35339 !important;
    color: #F7F7F7;
}
.el-checkbox__inner {
    height: 18px ;
    width: 18px ;
    font-size: 18px;
}
.el-checkbox__inner::after {
    height: 10px;
    left: 6px;
    width: 4px;
}

input{
    border-radius: 5px;
}